body { 
    font-family: sans-serif; 
    
   background-color: rgb(2, 2, 139);
}

.container {
    
    padding-left: 125px;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    
    
  width: 200px;
  height: 260px;
/*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
}

.card {
   
  position: relative;
  width: 400px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 17px;
  bottom: 20px;
  backface-visibility: hidden;
}

.card__face--front {
    position:absolute;
    
}

.card__face--back {
    
  background: gray;
  transform: rotateY(180deg);
}

.ingredients {
    
    font-size: 17px;
    list-style-type: none;
}


/* transform: rotate(-90deg); */

